@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v5-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v5-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v5-latin-700.woff2") format("woff2"), url("../fonts/barlow-v5-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-900 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/barlow-v5-latin-900.woff2") format("woff2"), url("../fonts/barlow-v5-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-regular - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/fraunces-v10-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-900 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"), url("../ fraunces-v10-latin-900.woff") format("woff");
}

ul, ol {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.container {
  width: 1320px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.head {
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

.head__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.haed__item {
  margin-left: 33px;
}

.head__logo {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  text-decoration: none;
}

.head__logo:hover {
  color: #333D4B;
}

.main__section {
  width: 1280px;
  height: 450px;
  background-image: url("../img/img-1.png");
  background-repeat: no-repeat;
  padding: 137px 85px 137px 85px;
  border-radius: 10px;
  margin-bottom: 168px;
}

.main__title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.main__text {
  width: 445px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  mix-blend-mode: normal;
  opacity: 0.8;
  color: #FEFCF7;
  margin-bottom: 56px;
}

.hero {
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 168px;
}

.hero__img {
  border-radius: 8px;
  margin-right: 125px;
}

.hero-right {
  width: 540px;
}

.hero-right__title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
}

.hero-right__text {
  font-family: Barlow;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.site-middle {
  width: 1280px;
  height: 474px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-top: 50px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 176px;
  margin-bottom: 168px;
  background-image: url("../img/Bitmap.png");
  background-repeat: no-repeat;
}

.site-middle-left__title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}

.site-middle-left-text {
  width: 540px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.site-middle__img {
  position: absolute;
  bottom: 10%;
  left: 750px;
  border-radius: 10px;
}

.Our-title {
  margin-bottom: 72px;
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}

.our {
  width: 1280px;
  margin-bottom: 168px;
  padding-right: 230px;
  padding-left: 165px;
}

.our-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.our-list-title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}

.our-list__text {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.site-footer {
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2C343E;
  padding: 47px 85px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 103px;
}

.footer__item {
  margin-right: 33px;
}

.site-footer__img {
  color: #FFFFFF;
}

.site-footer__title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  margin-left: 5px;
  color: #FFFFFF;
}

.footer__logo {
  text-decoration: none;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.footer__logo:hover {
  color: #FEFCF7;
}

.footer__item:nth-child(3) {
  margin-right: 300px;
}

.site-icons__logo {
  margin-right: 24px;
}

.site-icons__logo:hover {
  background-color: #FDD6BA;
}
/*# sourceMappingURL=main.css.map */